@inherits LayoutComponentBase
@using Common.Blazor.Layouts

<QHeaderMainLayout>
    <HeaderTemplate>
        <div>Home</div>
        <div>Search</div>
        <div>Logout</div>
    </HeaderTemplate>
    <MainTemplate>
        @Body
    </MainTemplate>
</QHeaderMainLayout>
@*@Body*@