@inherits LayoutComponentBase
@using Common.Blazor.Layouts
@using Common.Blazor.Navigation



<QHeaderMainLayout>
    <HeaderTemplate>
        <QNavBar>
            <NavBarLogoTemplate>
                <QLogo/>
            </NavBarLogoTemplate>
            <NavBarTemplate>
                <div class="flex-item">Contact</div>
                <div>Contact</div>
                <div class="flex-item">Contact</div>
                <div>Contact</div>
                <div class="flex-item">Contact</div>
                <div>Contact</div>
                <div class="flex-item">Contact</div>
                <div>Contact</div>
                <div>Contact</div>
                <div>Contact</div>
                <div>Contact</div>
                <div>Contact</div>
                <div>Contact</div>
            </NavBarTemplate>
        </QNavBar>
    </HeaderTemplate>
    <MainTemplate>
        <div>Main</div>
    </MainTemplate>
</QHeaderMainLayout>


@*
<QHeaderAsideMainFooterLayout>
    <HeaderTemplate>
        <QNavBar>
            <NavBarLogoTemplate>
                <QLogo/>
            </NavBarLogoTemplate>
            <NavBarTemplate>
                <div class="flex-item">Contact</div>
                <div>Contact</div>
                <div class="flex-item">Contact</div>
                <div>Contact</div>
                <div class="flex-item">Contact</div>
                <div>Contact</div>
                <div class="flex-item">Contact</div>
                <div>Contact</div>
                <div>Contact</div>
                <div>Contact</div>
                <div>Contact</div>
                <div>Contact</div>
                <div>Contact</div>
            </NavBarTemplate>
        </QNavBar>
    </HeaderTemplate>
    <AsideTemplate><div>Aside</div></AsideTemplate>
    <MainTemplate><div>Main</div></MainTemplate>
    <FooterTemplate><div>Footer</div></FooterTemplate>
</QHeaderAsideMainFooterLayout>
*@
@*@Body*@